ul#topnav div {
   margin-top: -5px;
  /*   margin-left: -210px;*/
}

ul#topnav div > ul > li > h3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 175px;
/*    min-height: 20px;*/
/*    margin-left: -10px;*/
}
ul#topnav > li:hover > a{
    background-color: #F9F9EC;
    padding-bottom: 8px;
}