

        <ul class="cnav" name="incab">


            <li class="n1"><a href="#" id="tm1" onmouseover="tm_over(1)" onmouseout="tm_out(1)">Рівень0.1</a></li>

            <li class="n2"><a href="#" id="tm2" onmouseover="tm_over(2)" onmouseout="tm_out(2)">Рівень0.2</a></li>

            <li class="n3"><a href="http://zakon.rada.gov.ua/cgi-bin/laws/main.cgi" id="tm3" onmouseover="tm_over(3)" onmouseout="tm_out(3)">Рівень0.3</a></li>

            <li class="n4"><a href="#" id="tm4" onmouseover="tm_over(4)" onmouseout="tm_out(4)">Рівень0.4</a></li>

            <li class="n5"><a href="#" id="tm5" onmouseover="tm_over(5)" onmouseout="tm_out(5)">Рівень0.5</a></li>
  
            <li class="n1"><a href="#" id="tm6" onmouseover="tm_over(6)" onmouseout="tm_out(6)">Рівень0.6</a></li>

            <li class="n1"><a href="#" id="tm6" onmouseover="tm_over(7)" onmouseout="tm_out(7)">HHHHHHHHH</a></li>

        </ul>


  

  
  
  
  <!--========== Submenu ========== -->  

        <div id="dropmenu">

        <p class="sublinks" id="dropmenu1" style="display:none; text-align:left;" onmouseover="tm_over(1)" onmouseout="tm_out(1)">

                <a href="http://www.rada.gov.ua/zakon/FAXIV/index.htm">Рівень0.1.1</a> 
                
       |        <a href="http://gska2.rada.gov.ua/pls/radac_gs09/pd_index_n">Рівень0.1.2</a>

       |        <a href="http://gska2.rada.gov.ua/pls/radac_gs09/h_index_n">Рівень0.1.3</a>

       |        <a href="http://www.rada.gov.ua/zakon/new/STENOGR/index.htm">Рівень0.1.4</a>



          </p>

        <p class="sublinks" id="dropmenu2" style="display:none;text-align:left;" onmouseover="tm_over(2)" onmouseout="tm_out(2)">

            <a href="http://w1.c1.rada.gov.ua/pls/zweb_n/webproc2">Рівень0.2.1</a>

       |       <a href="http://w1.c1.rada.gov.ua/pls/zweb_n/webproc555">Рівень0.2.2</a>

       |       <a href="http://w1.c1.rada.gov.ua/pls/zweb_n/webproc3_current">Рівень0.2.3</a>

       |       <a href="http://w1.c1.rada.gov.ua/pls/site/p_bills_stand_laws">Рівень0.2.4</a>


          </p>

        <p class="sublinks" id="dropmenu3" style="display:none;text-align:left;" onmouseover="tm_over(3)" onmouseout="tm_out(3)">

            <a href="http://zakon.rada.gov.ua/cgi-bin/laws/main.cgi?user=a#Find">Рівень0.3.1</a>

       |       <a href="http://zakon.rada.gov.ua/cgi-bin/laws/main.cgi?user=n&stru=1&sp=i">Рівень0.3.2</a>

       |       <a href="http://zakon.rada.gov.ua/cgi-bin/laws/main.cgi?user=country">Рівень0.3.3</a>

       |       <a href="http://zakon.rada.gov.ua/cgi-bin/laws/main.cgi?user=termin">Рівень0.3.4</a>

       |       <a href="http://zakon.rada.gov.ua/cgi-bin/laws/main.cgi?user=mail">Рівень0.3.5</a>


          </p>

        <p class="sublinks" id="dropmenu4" style="display:none;" onmouseover="tm_over(4)" onmouseout="tm_out(4)">

            <a href="http://w1.c1.rada.gov.ua/pls/mpz/organizations.mpo_s">Рівень0.4.1</a>

       |       <a href="http://w1.c1.rada.gov.ua/pls/mpz/parlaments.list">Рівень0.4.2</a>

       |       <a href="http://w1.c1.rada.gov.ua/pls/mpz/organizations.perm_delegations">Рівень0.4.3</a>

       |       <a href="http://w1.c1.rada.gov.ua/pls/mpz/organizations.asambleas">Рівень0.4.4</a>

       |       <a href="http://w1.c1.rada.gov.ua/pls/mpz/organizations.inter_commissions">Рівень0.4.5</a>

          </p>

        <p class="sublinks" id="dropmenu5" style="display:none;" onmouseover="tm_over(5)" onmouseout="tm_out(5)">

           
               <a href="http://www.rada.gov.ua/zakon/new/AWT/index.htm">Рівень0.5.1</a>

       |       <a href="http://www.rada.gov.ua/zakon/new/WR/index.htm">Рівень0.5.2</a>

       |           <a href="http://www.rada.gov.ua/zakon/new/WR/pd_index.html">Рівень0.5.3</a>

       |           <a href="#">Рівень0.5.4</a>
       


          </p>
          
                  <p class="sublinks" id="dropmenu6" style="display:none;" onmouseover="tm_over(6)" onmouseout="tm_out(6)">

                <a href="http://w1.c1.rada.gov.ua/pls/site/p_head_vru">Рівень0.6.1</a>
           
       |       <a href="http://w1.c1.rada.gov.ua/pls/site/p_kerivnyky_vru">Рівень0.6.2</a>

       |       <a href="http://w1.c1.rada.gov.ua/pls/site/p_deputat_list">Рівень0.6.3</a>

       |           <a href="http://w1.c1.rada.gov.ua/pls/site/p_fractions">Рівень0.6.4</a>
       
       |           <a href="http://w1.c1.rada.gov.ua/pls/site/p_komitis">Рівень0.6.5</a>
       
       |           <a href="http://w1.c1.rada.gov.ua/pls/site/p_temp_komitis">Рівень0.6.6</a>
       
       |           <a href="http://w1.c1.rada.gov.ua/pls/site/p_aparat">Рівень0.6.7</a>
       


          </p>


        <!-- Default init -->
        
        <script  language="javascript" type="text/javascript">

   var cur_id = {$menu_active};
   
   var def_id = cur_id;

    document.getElementById('tm'+def_id).className='here';
    document.getElementById('dropmenu'+def_id).style.display = '';
    
    
    </script>
        <!-- End Def init -->
