#sitemap{
	background:transparent url(/img/map3-left.png) repeat-y 36px 0;
	padding-top:0px;
}
#sitemap, #sitemap li ul, #sitemap li ul li ul {
	list-style:none;
}
#sitemap li {
	clear:both;
	padding-bottom:0px;
}
#sitemap ul {
	padding-bottom:0px;
	margin-bottom:-10px;
}

#sitemap li a {
	background: transparent url(/img/map1-left.png) no-repeat top left;
	display: block;
	height: 26px;
	padding-left: 4px;
	text-decoration: none;
	margin:0px 4px 5px 0;
	float:left;
	color:#000000;
}
#sitemap li a span {
	background: transparent url(/img/map1-right.png) no-repeat top right;
	display: inline-block;
	padding: 5px 8px 9px 2px;
	height: 26px;
}
#sitemap li ul li a {
	background: transparent url(/img/map2-left.png) no-repeat top left;
	display: block;
	height: 22px;
	padding-left: 25px;
	text-decoration: none;
	margin:0px 4px 0px 10px;
	float:left;
	color:#000000;
}

.ie6 #sitemap li ul li a {
	margin:0px 4px 0px 5px;
	height: 15px;
}
#sitemap li ul li.last a {
	background: transparent url(/img/map2-left-last.png) no-repeat top left;
}
#sitemap li ul li a span {
	background: transparent url(/img/map2-right.png) no-repeat top right;
	display: inline-block;
	padding: 2px 8px 9px 2px;
	height: 22px;
}
#sitemap li ul li ul li a {
	background:  transparent ;
	display: block;
	height: auto;
	padding-left: 4px;
	text-decoration: none;
	margin:0px 4px 0px -4px;
	padding:2px 2px 2px 50px;
	float:left;
	color:#023a7a;
	text-decoration:underline;
}
#sitemap li ul li ul li a:hover {
	text-decoration:none;
}
#sitemap li ul li ul li a span {
	background: transparent none no-repeat top right;
	display: block;
	padding: 0;
	height: auto;
}
#sitemap li ul li ul li ul li a {
	background: transparent none repeat-y top left;
	display: block;
	height: auto;
	padding-left: 4px;
	text-decoration: none;
	margin:0px 4px 0px -17px;
	padding:2px 2px 2px 80px;
	float:left;
	color:#023a7a;
	text-decoration:underline;
	 *height: 10px;
}

#sitemap li a:hover {
	text-decoration: underline;
}