/*

-----------------------------------------------


ICT_RADA


----------------------------------------------- */

*{margin:0;padding:0}

.subh{
	font-family: Tahoma, arial, sans-serif;
	font-size: 70%;
	line-height: 1;
	width: 970px;
	/* [disabled]background-color: #ECF7F9; */
	display: block;
	clear: both;
	background-image: url(/img/top_menu_bg4.gif);
	background-repeat: repeat-x;
	margin: auto;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 13px;
	padding-left: 5px;
    }

.sublinks{
	color:#666;
	font-size:1.2em;
	text-align:left;
	border-top-width: 1px;
	/* [disabled]border-top-style: solid; */
	/* [disabled]border-top-color: #999; */
	margin-top: 0;
	margin-bottom: -6px;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	margin-right: -5px;
	margin-left: -5px;
    }


    .sublinks a{
	color:#315164;
	text-decoration:none;
	margin:0.5ex;
	width: 100%;
        }

    .sublinks a.here, .sublinks a span, .sublinks a:hover{
	color:#006
        }


.cnav{
	width:auto;
	height:20px;
	position:relative;
	list-style-type: none;
	padding-right: 20px;
	padding-left: 20px;
    }

    .cnav li{
	float:left;
	font-size:1.3em;
	margin-top: 0px;
        }

    .cnav li a{
	text-decoration:none;
	bottom: 0px;
	padding-right: 1ex;
	padding-left: 1ex;
	color: #362F2E;
        }
		
 .cnav li a:hover, .cnav li a.here{
	/* [disabled]color: #006; */
	background-color: #FFF;
	padding-bottom: 8px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 2px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #C8C8C8;
	border-right-color: #C8C8C8;
	border-left-color: #E0E0E0;
	display: block;
	margin-top: -2px;
	height: auto;
	padding-top: 3px;
 }

.snav{

    background:url(/images/snav.png) repeat-x 0 2px;

    overflow:hidden;

    padding-left:330px;

    zoom:1;

    font-size:1.2em;

    margin-bottom:4px;

    margin:0 3px 4px 3px

    }

    .snav ul{

        list-style:none;

        }

        .snav li{

            float:left;

            }

    .snav a{

        color:#3f53ca;

        text-decoration:none;

        float:left;

        padding:10px 10px;

        white-space:nowrap;

        }

    .snav .here a{

        color:#fff;

        background:#5566d9 url(/images/here.png) repeat-x 0 100%;

        }
